/* Estilos para o formulário de agendamento */
#agendamento-form {
    max-width: 400px;
    margin: 20px auto;
    background-color: #555; /* fundo mais escuro */
    padding: 20px;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="date"],
input[type="time"],
button {
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%; /* Define a largura dos campos para preencher a largura do formulário */
    background-color: #666; /* fundo mais escuro */
    color: #fff;
}

button {
    background-color: #007bff; /* azul */
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3; /* azul mais escuro */
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    cursor: pointer;
    padding: 10px;
    background-color: #444; /* fundo da lista de resultados */
    border-radius: 5px;
    margin-bottom: 5px;
}

li:hover {
    background-color: #333; /* fundo mais escuro ao passar o mouse */
}
