/* Estilos para a página de orçamento */
.orcamento {
    grid-column-start: 2;
    background-color: #e2e1ef;
}

.btn_novo{
    background-color: #05b31c;
    width: 60px;
}

/*ARRUMAR O ESTILO DAS TD/TR*/

/* 
#orcamento-form {
    background-color: #555; /* fundo mais escuro 
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 2%;
    width: 900px;
} 

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
select,
textarea,
input[type="number"],
button {
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%; /* Define a largura dos campos para preencher a largura do formulário 
    background-color: #666;  fundo mais escuro 
    color: #fff;
}

button {
    background-color: #007bff; /* azul 
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3; /* azul mais escuro 
}
*/
