
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}


footer{
  background-color: #bab6e8;
  text-align: center;
  padding: 6px 0 12px 0px;
  font-weight: bold;
}














body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #add8e6; /* tom azul marinho claro */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff; /* fundo branco */
    border-radius: 5px; /* adiciona borda arredondada */
}

header {
    background-color: #1a1a1a; /* azul marinho */
    color: #fff;
    padding: 20px;
    text-align: center;
}

main {
    background-color: #fff; /* fundo branco */
    padding: 20px;
    border-radius: 5px;
}

.page {
    display: none;
}

h2 {
    margin-top: 0;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
}

input[type="text"],
input[type="password"],
button {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #1a1a1a; /* azul marinho */
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #333; /* azul marinho mais escuro */
}
