/* Estilos para a página de técnicos*/
.tabela{
  grid-column-start: 2;
  background-color: #e2e1ef;
  width: 100%;
  border-collapse: collapse;
}
.tabela table {
  width: 100%;
  padding: 10px 0px ; 
}

.tabela_tecnicos{
  max-height: 400px;
  overflow: auto;
}

th, td {
  border: 1px solid #ccc;
  padding: 3px;
}

.cabecalho_tabela_tecnico{
  background-color: #b0b6c3;
  line-height: 2em;
}

.cabecalho_tabela_tecnico :first-child{
  width:20px;
}

.cabecalho_tabela_tecnico :nth-child(2){
  width:70px;
}

/* modal formulário tecnico */

#cadastro-form-tecnico.active{
  opacity: 1;
  z-index: 1;
  position: fixed;
  top: 50%;
  left: 50%;
  visibility: visible;
}

#cadastro-form-tecnico{
  opacity: 0;
  z-index: -1;
  top: -100%;
  left: -100%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background-color: #34333d;
  width: 800px;
  max-width: 90%;
  height: 450px;
  border-radius: .5rem;
  padding: 2.5%;
  color: #ffffff;
  visibility: hidden;
}

#cadastro-form-tecnico p{
  margin-left: 20px;
}

.cadastro-form-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  border-bottom: 1px solid #fff;
  margin-bottom: 1rem;
}
.cadastro-form-body form{
height: 330px;
overflow: auto;
}
.input-group{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem;
}
.input-box{
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.cadastro-form-body input{
width: 320px;
padding: 0.5rem 1rem;
margin: .2rem;
}
.input-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.cep-form-field:disabled {
  background-color: #e6e8ec;
  color: #34333d;
}

.cadastro-form-body input,
.form-select {
  width: 320px;
  padding: 0.5rem 1rem;
  margin: .2rem;
}
.form-button{
  display: flex;
  gap: 40px;
  margin: 30px 0px 20px 20px;
}
.form-button button{
  width: 120px;
  height: 40px;
}
.form-select {
  width: 356px;
}

#cadastrarTecnico{
  background-color: #05b31c;
  color:#FFF;
}

#cadastrarTecnico:active{
  background-color: #ffffff;
  transform: scale(0.95);
  color:#05b31c;
}

#limparForm{
  background-color: #bab6e8;
  color:#FFF;
}

#limparForm:active{
  background-color: #ffffff;
  transform: scale(0.95);
  color:#bab6e8;
}
.espaco_form {
  width: 100%;
  height: 20px;
  background-color: #b0b6c3;
  margin: 20px 0px;
  padding: 10px 0;
  color: #34333dad;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}